.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.wrapper >*{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

.header{
    width: 100%;
    top: 0px;
    z-index: 1;
    background: teal;
    height: auto;
    text-align: center;
    display: block;
}

.footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: lightblue;
    height: 100px;
    align-items: center;
}

.main{

    text-align: left;
    background: transparent;
    height: 100px;
    font-size: 20px;
}

.aside1{
    background: transparent;
}


.aside2{
    
    background: transparent;
}


@media all and (min-width:640px){

    .main{
        flex: 3;
    }

    .aside1{
        order: 3;
    }

    .aside2{
        order: 1;
    }

    .main{
        order: 2;
    }

    .footer{
        order: 4;
    }
}


@media all and (min-width: 768px){
    .aside {
        flex: 2;
    }

    .header{
        overflow-y: visible;
    }

}


@media only screen and (max-device-width:480px){
    .header, .footer {display: none;}
}

canvas {
    height: 0px;
    width: 0px;
}

#video_box{
    position: relative;

}

#video_box .video {
    border-style: solid;
    border-width: 3px;
    border-color: #000000;
}

#video_overlays .overlay {
    position: absolute;
    width: 280px;
    height: 280px;
    z-index: 300000;
    bottom: 15px;
    left: 100px;
    text-align: center;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    display: block;
    font-size: 36px;
  }

  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }