<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF_8"/>
        <meta name="viewport" content="width=device-width , initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie-edge"/>
        <title>Rubic Solver</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='favicon.ico') }}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='twistysim.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.redirect.js') }}"></script>

        <script>
            $(document).ready(function(){
                const faces = ["green", "orange", "blue", "red", "yellow", "white"];
                const opposite_faces = ["blue", "red", "green", "orange", "white", "yellow"];
                var i = 0;
                var images = [];

                // when video is clicked
                $("#video_box").click(function(){

                    // capture image
                    const canvas = window.canvas = document.querySelector("#canvas");
                    canvas.style.display="none";
                    canvas.width = 240;
                    canvas.height = 180;
                    canvas.getContext('2d').drawImage(video, 0, 0, 240, 180);

                    // convert to base 64
                    images[i] = canvas.toDataURL("image/png");

                    // increment
                    i += 1;
                    cube.forward();


                    if (i < 6) {
                        $("#prompt").html("The <b>" + opposite_faces[i] + "</b> face should be facing you, and the \
                        <b>" + faces[i] + "</b> face should be facing the camera.<br>Position each piece \
                        inside the grid, and click the video above to capture face <b>" + (i + 1) + "</b> out of 6.");

                        $("#video_overlays img").attr("src", "static/grid_" + faces[i] + ".png");
                    } else {
                        $("#guide").html("<br>All faces have been captured!");
                        $("#prompt").text("Click the submit button to review the capture and proceed with the solve.");
                        $("#video_overlays img").attr("src", "static/grid_black.png");
                        $("#video_overlays").css("opacity", "0.25");
                        $("#tp1").css("opacity", "0.25");


                        $("#submit").prop("disabled", false);
                    }
                });

                // submit all faces via POST request and redirect
                $("#submit").click(function(){
                    $.redirect("/preview", {"images": JSON.stringify(images)});
                });

            });
        </script>
        <head>
            <body>
                <div class="wrapper">
                    <header class="header">
                        <h1>Rubiks-Cube-Solver</h1>
                    </header>

                    <aside class="aside aside2">
                        <div id="video_box">
                            <div id="video_overlays">
                                <img src="static/grid_green.png" class="overlay"/>
                            </div>
                            <div>
                                <video playsinline autoplay width="480" height="360" class="video"></video>
                            </div>
                        </div>
                    </aside>
                    
                    <aside class="aside aside1">
                        <div id="tp1"></div>
                        <script>
                            // generate cube 3*3 cube
                            var cube = TTk.AlgorithmPuzzle(3)
                                .size({width:300, height:300})
                                .rotate(false);
        
                            cube.controls(false)
                                .showAlg(false)
                                .hoverButtons(true)
                                .hoverAlg(false);
        
                            // initial state
                            cube.fc('ddddoddddddddbddddddddyddddddddrddddddddgddddddddwdddd')
                            cube.case("y y y x x2");
        
                            // render into div
                            cube("#tp1");
                        </script>
                    
                        <div class="column">
                            <canvas id="canvas"></canvas>
                        </div>
                    </aside>
                
                    <article class="main">

                        <p id="guide"><br>Hold the cube as demonstrated in the model above.<br></p>
                        <p id="prompt">
                            The <b>blue</b> face should be facing you, and the <b>green</b> face should be facing the camera.
                            <br>
                            Position each piece inside the grid, and click the video above to capture face <b>1</b> out of 6.
                        </p>
                        <button style="height: 50px; width: 100px" id="submit" disabled>Submit</button>
                        <br>
                    <br>
                    <br>
                        <script>
                            // access user webcam
                            const video = document.querySelector('video');
                
                            function handleSuccess(stream) {
                              window.stream = stream;
                              video.srcObject = stream;
                            }
                
                            function handleError(error) {
                              console.log('navigator.getUserMedia error: ', error);
                            }
                
                            //navigator.mediaDevices.getUserMedia({ video: 'environment' }).then(handleSuccess).catch(handleError);
                            navigator.mediaDevices.getUserMedia({ video: { facingMode: 'environment' } }).then(handleSuccess).catch(handleError);
                        </script>
                                           
                    </article>
                    <footer class="footer">
                        <h3>&copy; 2023 | FOE-SJP</h3>
                    </footer>
                </div>
            </body>
        </head>
    </head>
</html>